<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="/styles/globals.css"
      rel="stylesheet"
      type="text/css"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="wrapper">
      <div class="glitch">

      </div>
      <div class="malware-glitch"></div>
      <div class="welcome-wrapper">
        <h1 class="main-header-hidden">Hacker Club</h1>
        <img src="/images/glitch_20154.svg">
        <h2>Login or register to make a post</h2>
  
      <div class="login-wrapper">
        <a href="/login">Login</a>

        <a href="/register">Register</a>
      </div>
    </div>
      <% messages.forEach(function(message) { %>
      <div class="card-outer">
        <div class="card-inner">
          <div>
            <h3 class="card-title"><%= message.title %></h3>
            <p class="card-message">
              <%= message.message.replace(/[a-zA-Z]/g, 'x') %>
            </p>
          </div>
          <div class="card-bottom">
            <div class="card-user-info">
              <span
                ><%= message.alias.replace(/[a-zA-Z]/g, 'x') %></span
              >
              <span><%= message.readable_date %></span>
            </div>
            <div class="card-image">
              <img class="filter" src="/images/<%= message.avatar_name %>.svg" />
            </div>
          </div>
        </div>
      </div>
      <% }) %>

    
   
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your
        experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>
