<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Member</title>
      <meta name="description" content="" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
      />
      <link rel="stylesheet" href="" />
    </head>
    <body>
      <div>
        <% if (locals.user) { %> <% if (user.status == 'Pleb') { %>
        <h2>Hello <%= user.alias %></h2>
        <div>
          <p>
            To confirm your membership please enter the secret code.
          </p>
          <form action="/member" method="POST">
            <label for="secretPasscode">Passcode:</label>
            <input
              id="secretPasscode"
              name="secretPasscode"
              type="text"
            />
            <button type="submit">Submit</button>
          </form>
          <% if (locals.errors){ %>
          <ul class="errors">
            <% locals.errors.forEach(function(message) { %>
            <li><%= message.msg %></li>
            <% } ); %>
          </ul>
          <% } %>
        </div>

        <% } else if (user.status == 'Member' || user.status ==
        'Admin') { %>
        <h2>Welcome back <%= user.alias %></h2>
        <div>
          <h3>New Message</h3>
          <form action="/member/message" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" />
            <label for="message">New Message:</label>
            <input type="text" id="message" name="message" />
            <button type="submit">Send</button>
          </form>
          <% if (locals.errors){ %>
          <ul class="errors">
            <% locals.errors.forEach(function(message) { %>
            <li><%= message.msg %></li>
            <% } ); %>
          </ul>
          <% } %>
        </div>

        <div>
          <a href="/logout">Logout</a>
        </div>

        <div>
          <% messages.forEach(function(message) { %>
          <div>
            <h3><%= message.title %></h3>
            <p><%= message.message %></p>
            <span><%= message.alias %></span>
            <span><%= message.readable_date %></span>
            <img src="/images/<%= message.avatar_name %>.svg" />

            <% if (user.status == 'Admin') { %>
            <div>
              <form action="/member/message/delete" method="POST">
                <input
                  type="hidden"
                  name="messageId"
                  value="<%= message.message_id %>"
                />
                <input type="image" src="/images/trash.svg" />
              </form>
            </div>
            <% } %>
          </div>
          <% }); %>
        </div>
        <% } %> <% } else { %>
        <div>
          <h1>What are you doing here?</h1>
          <a href="/register">Register</a>
          <br />
          <a href="/login">Login</a>
        </div>
        <% } %>
      </div>

      <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. Please
          <a href="#">upgrade your browser</a> to improve your
          experience.
        </p>
      <![endif]-->

      <script src="" async defer></script>
    </body>
  </html>
</html>
