<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div>
        <% category.forEach(function(c){ %>
        <a href="/emojis/<%=c.id%>"></a>
        <h2><%= c.emoji_name%> <%= c.emoji_icon %></h2>

        <% }) %>
      </div>
      <a href="/categories">All Categories</a>
      <a href="/">Home</a>
    </div>

    <script src="" async defer></script>
  </body>
</html>
