<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <div>
        <% emoji.forEach(function(e) { %>
        <h2><%=e.emoji_icon %></h2>
        <p>Description: <br><%=e.description %></p>
        
        <p>Category:<br /><a href="/categories/<%=e.category_id%>"><%=e.category_name %></p></a
        >
        <a href="<%=e.info_url %>">Learn More</a>
        <% }) %>
      </div>
    </div>
    <a href="/">Home</a>
    <script src="" async defer></script>
  </body>
</html>
